+b.FOOTER.footer
  +e.DIV.copiryght
    +e.SPAN © 2018 Wasya1212. All rights reserved
  +e.DIV.public-info
    +e.SPAN.privacy-policy
      +e.A(href="#") privacy policy
    | |
    +e.SPAN.contacts
      +e.A(href="#") contacts
