@import "normalize"
@import "variables"

@import "components/header"
@import "pages/frontpage"

*
  outline: none

body
  position: relative
  max-width: 100vw
  overflow-x: hidden

h1, h2, h3, h4
  font-weight: bold

.container
  padding: 1rem
