$clipping-color: $primary-bg-color
$clipping-height: 5rem

body
  background-color: $primary-color

=underline($color, $height)
  content: ''
  display: inline-block
  position: absolute
  left: 20%
  bottom: -1rem
  width: 80%
  height: $height
  background-color: $color

.intro
  position: relative
  background-color: $primary-bg-color
  color: $primary-text-color
  margin-bottom: $clipping-height
  min-height: 500px
  background-image: url('../assets/435503_900.jpg')
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  &__title
    max-width: 350px
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: column
    margin: 3rem 10%
    .underline
      &::after
        +underline($primary-color, 7px)
    h1
      position: relative
      display: inline
      text-transform: uppercase
  &__main-word
    font-size: 100px
    margin: 0
    padding: 0
    margin-bottom: 2rem
  &__secondary-word
    font-size: 50px
    margin: 0
    padding: 0
    align-self: flex-end
  &__triangle
    fill: $clipping-color
  &__clipping
    position: absolute
    left: 0
    top: 100%
    width: 100%
    height: $clipping-height
    font-size: 0
    line-height: 0
    svg
      width: 100%
      height: 100%
  .app-description
    &__decore-text
      &:nth-child(even)
        font-size: 35px
      &:nth-child(odd)
        font-size: 20px
