$clipping-color: $primary-color
$clipping-height: 7rem

body
  background-color: $primary-color

=underline($color, $height)
  content: ''
  display: inline-block
  position: absolute
  left: 20%
  bottom: -1rem
  width: 80%
  height: $height
  background-color: $color

.intro
  position: relative
  background-color: $primary-bg-color
  color: $primary-text-color
  padding-bottom: $clipping-height !important
  min-height: 500px
  background-image: url('../assets/435503_900.png')
  background-blend-mode: overlay
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  overflow: hidden
  box-sizing: border-box
  &__title
    max-width: 350px
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: column
    margin: 3rem 10%
    .underline
      &::after
        +underline($primary-color, 7px)
    h1
      position: relative
      display: inline
      text-transform: uppercase
      cursor: default
  &__main-word
    font-size: 100px
    margin: 0
    padding: 0
    margin-bottom: 2rem
  &__secondary-word
    font-size: 50px
    margin: 0
    padding: 0
    align-self: flex-end
  &__triangle
    fill: $clipping-color
  &__clipping
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: $clipping-height
    font-size: 0
    line-height: 0
    z-index: 100
    svg
      width: 100%
      height: 100%
  .app-description
    &__decore-text
      animation-direction: alternate-reverse
      animation-duration: 60s
      animation-iteration-count: infinite
      animation-timing-function: linear
      text-transform: uppercase
      transform: rotate(-20deg)
      display: inline
      opacity: .25
      font-weight: bold
      position: absolute
      user-select: none
      cursor: default
      &:nth-child(2n)
        animation-name: moveRight
        font-size: 35px
        top: 60%
      &:nth-child(2n+1)
        animation-name: moveLeft
        font-size: 65px
        top: 20%

@keyframes moveRight
  0%
    transform: rotate(-20deg)
  50%
    transform: rotate(-20deg) translateX(50%)
  100%
    transform: rotate(-20deg) translateX(-50%)

@keyframes moveLeft
  0%
    transform: rotate(-20deg)
  50%
    transform: rotate(-20deg) translateX(-50%)
  100%
    transform: rotate(-20deg) translateX(50%)

.preview
  position: relative
  &>*
    position: relative
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-wrap: nowrap
    flex-direction: row
    justify-content: space-around
    align-items: flex-start
    width: 100%
    margin-bottom: 2rem
    .description
      max-width: 650px
      &__title
        position: relative
        text-transform: uppercase
        font-size: 75px
        font-weight: bold
        color: $primary-text-color
        text-shadow: 2px 2px 3px lighten($primary-text-color, 40%)
        cursor: default
        &::after
          +underline($secondary-color, 5px)
      &__text
        position: relative
        color: $secondary-text-color
        background-color: $secondary-bg-color
        padding: 2rem 3rem 2rem 4rem
        font-size: 20px
        line-height: 32px
    .video-container
      position: relative
      margin: 2rem
      width: 100%
      background-repeat: no-repeat
      background-size: contain
      background-position: center bottom
      transition: transform .35s ease-in-out
      -webkit-transform-style: preserve-3d
      transform-style: preserve-3d
      &::before
        content: ''
        display: inline-block
      video
        position: absolute
        height: auto
  &__imac
    .description
    .video-container
      max-width: 900px
      background-image: url('../assets/imac.png')
      &:hover
        transform: rotate3d(-5, 35, 2, 15deg)
      &::before
        padding-top: 65%
      video
        width: 73%
        top: 5%
        left: 13.5%
  &__ipad
    flex-direction: row-reverse
    .description
    .video-container
      max-width: 550px
      background-image: url('../assets/ipad-mockup.png')
      &:hover
        transform: rotate3d(-10, 55, 2, -15deg)
      &::before
        padding-top: 65%
      video
        width: 82%
        top: 4%
        left: 9%
  &__iphone
    .description
    .video-container
      max-width: 350px
      background-image: url('../assets/iphone.png')
      &:hover
        transform: rotate3d(-10, 35, 2, 15deg)
      &::before
        padding-top: 150%
      video
        width: 65.5%
        top: 12%
        left: 17.5%

.setup
  &__video-container
    position: relative
    max-width: 100%
    width: 750px
    margin: 0 auto
  &__video
    position: relative
    display: inline-block
    width: 100%
    height: auto
  video
    width: 100%
    height: auto

.used-in
  background-color: $secondary-bg-color
