+b.NAV.navbar
  +e.A.link.link(href="/examples.html") examples
  +e.A.link.link(href="/get_started.html") get started
  +e.A.link.link(href="/documentation.html") documentation
  +e.A.link.link(href="/download.html") get it now
