+b.NAV.navbar
  +e.A.link.link(nohref, pagePath="/examples.html") examples
  +e.A.link.link(nohref, pagePath="/get_started.html") get started
  +e.A.link.link(nohref, pagePath="/documentation.html") documentation
  +e.A.link.link(nohref, pagePath="/download.html") get it now
