include libs/bemto/bemto
block vars

<!DOCTYPE html>
html(lang= lang)
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="https://vjs.zencdn.net/7.1.0/video-js.css")
    //- script(src="https://vjs.zencdn.net/ie8/ie8-version/videojs-ie8.min.js")
    title= title
    block head
  body(class= page + "-page", name= page)
    .content
      include partials/header
      block content
      include partials/footer
