include libs/bemto/bemto
block vars

<!DOCTYPE html>
html(lang= lang)
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= title
    block head
  body(class= page + "-page", name= page)
    .content
      include partials/header
      block content
      include partials/footer
