extends ../layout

block vars
  -
    var page = "documentation",
      title = "Easy Admin - full documentation",
      lang = "en";

block scripts
  script(src="js/main.js")

block content
  h1 1350 eur & 101 dolar
