extends ../layout

block vars
  -
    var page = "frontpage",
      title = "Easy Admin - create your own uniqe admin panel",
      lang = "en";
      
    var devices = {
      imac: {
        title: "Use by PC station",
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus fuga nihil debitis, obcaecati, distinctio, nobis dolorum provident nisi officiis.",
        poster: "../../assets/iphone.png",
        video: "videos/2018-08-31_18-41-31 - imac.mp4"
      },
      ipad: {
        title: "Watch on small screens",
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, natus neque porro rem unde beatae.",
        poster: "../../assets/iphone.png",
        video: "videos/2018-08-30_19-53-43 - ipad.mp4"
      },
      iphone: {
        title: "Always be mobile",
        description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi.",
        poster: "../../assets/iphone.png",
        video: "videos/2018-08-30_19-53-43 - iphone.mp4"
      }
    };
    
    var projects = [
      {
        name: "project 1",
        link: "#",
        previews: [
          {
            src: "../../assets/images/site.png",
            resolution: 768,
            orientation: "landscape"
          }
        ],
        defaultPreview: "../../assets/images/site.png",
        description: "Some desk 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, aliquid. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, aliquid."
      },
      {
        name: "project 2",
        link: "#",
        previews: [
          {
            src: "../../assets/images/site.png",
            resolution: 768,
            orientation: "landscape"
          }
        ],
        defaultPreview: "../../assets/images/site.png",
        description: "Some desk 2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, aliquid."
      },
      {
        name: "project 3",
        link: "#",
        previews: [
          {
            src: "../../assets/images/site.png",
            resolution: 768,
            orientation: "landscape"
          }
        ],
        defaultPreview: "../../assets/images/site.png",
        description: "Some desk 3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, aliquid. Lorem ipsum dolor sit amet."
      }
    ];

mixin device(device)
  +b.DIV.description
    +e.H3.title= device.title
    +e.P.text= device.description
  +b.DIV.video-container
    +e.VIDEO.video(poster= device.poster, autoplay, loop, src= device.video, type="video/mp4", muted)

mixin project(project)
  +b.DIV.project
    +e.H4.title
      +e.A.link(href= project.link)= project.name
    +e.DIV.preview
      +e.PICTURE.picture
        if (project.previews && project.previews.length > 0)
          each picture in project.previews
            +e.SOURCE(srcset= picture.src, media= "(max-width: " + picture.resolution + "px) and (orientation: " + picture.orientation + ")")
        +e.SOURCE(srcset= project.defaultPreview)
        +e.IMG(srcset= project.defaultPreview, alt= project.name + " preview image")
    +e.DIV.description
      +e.P= project.description

block content
  +b.SECTION.intro.container
    +e.DIV.title.app-name 
      +e.H1.main-word.underline Easy
      +e.H1.secondary-word admin
    +b.ARTICLE.app-description
      +e.SPAN.decore-text Take your fast admin panel
      +e.SPAN.decore-text One of the most downloadble content managment library in the world.
    +e.DIV.clipping
      +e.SVG(height="120", width="500", viewBox="0 0 500 120", preserveAspectRatio="none")
        +e.POLYGON.triangle(points="0,120 500,0 500,120")
        | Sorry, your browser does not support inline SVG.
  +b.SECTION.preview.container
    +e.DIV.imac
      +device(devices.imac)
    +e.DIV.ipad
      +device(devices.ipad)
    +e.DIV.iphone
      +device(devices.iphone)
  +b.SECTION.setup.container
    +e.H3.title video presentation
    +e.video-container
      +e.VIDEO.video(controls, preload="auto")#example-video
        source(src="videos/setup.mp4", type="video/mp4")
  +b.SECTION.used-in.container
    +e.H3.title used in
    +e.DIV.projects
      each project in projects
        +project(project)
