extends ../layout

block vars
  -
    var page = "frontpage",
      title = "Easy Admin - create your own uniqe admin panel",
      lang = "en";

block content
  +b.SECTION.intro.container
    +e.H2.title.app-name Easy admin
    +b.ARTICLE.app-description
     +e.H4.slogan Take your fast admin panel
     +e.P.text One of the most downloadble content managment library in the world.
    +e.DIV.clipping
      +e.SVG(height="120", width="500", viewBox="0 0 500 120", preserveAspectRatio="none")
        +e.POLYGON.triangle(points="0,0 0,120 500,0")
        | Sorry, your browser does not support inline SVG.
