extends ../layout

block vars
  -
    var page = "frontpage",
      title = "Easy Admin - create your own uniqe admin panel",
      lang = "en";

block content
  +b.SECTION.intro.container
    +e.DIV.title.app-name 
      +e.H1.main-word.underline Easy
      +e.H1.secondary-word admin
    +b.ARTICLE.app-description
      +e.SPAN.decore-text Take your fast admin panel
      +e.SPAN.decore-text One of the most downloadble content managment library in the world.
    +e.DIV.clipping
      +e.SVG(height="120", width="500", viewBox="0 0 500 120", preserveAspectRatio="none")
        +e.POLYGON.triangle(points="0,120 500,0 500,120")
        | Sorry, your browser does not support inline SVG.
  +b.SECTION.preview.container
    +e.DIV.description
      +e.H3.title simple title
      +e.P.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus fuga nihil debitis, obcaecati, distinctio, nobis dolorum provident nisi officiis consequuntur ipsum labore! Quo delectus, totam saepe. Rerum minima repellendus, officiis. Fuga pariatur, sapiente voluptatem natus.
    +e.DIV.devices
      +e.DIV.imac
        +b.VIDEO.video(poster="../../assets/iphone.png", autoplay, loop, controls="false", src="videos/2018-08-30_19-53-43.mp4", type="video/mp4")
          +e.SOURCE()
      +e.DIV.ipad
        +b.VIDEO.video(poster="../../assets/iphone.png", autoplay, loop, controls="false", src="videos/2018-08-30_19-53-43.mp4", type="video/mp4")
      +e.DIV.iphone
        +b.VIDEO.video(poster="../../assets/iphone.png", autoplay, loop, controls="false", src="videos/2018-08-30_19-53-43.mp4", type="video/mp4")
