extends ../layout

block vars
  -
    var page = "frontpage",
      title = "Easy Admin - create your own uniqe admin panel",
      lang = "en";

block scripts
  script(src="js/main.js")

block content
  h1 1350 eur & 100 dolar
